<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.googlecode.hibiscusapp"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- SDK settings -->
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <!-- permissions -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SettingsActivity" />

        <!-- content provider -->
        <provider
            android:authorities="com.googlecode.hibiscusapp.accounts.contentprovider"
            android:name=".database.AccountProvider" >
        </provider>
        <provider
            android:authorities="com.googlecode.hibiscusapp.accounttransactions.contentprovider"
            android:name=".database.AccountTransactionProvider" >
        </provider>

        <!-- services -->
        <service
            android:name=".services.SynchronizationService"
            android:label="SynchronizationService" />
    </application>
</manifest>
